# Copiá este archivo a mis_claves.env para correr local
# NO subas mis_claves.env al repo (contiene secretos)

DEEPSEEK_API_KEY=
OPENAI_API_KEY=
AI_PROVIDER=deepseek

# PostgreSQL (Fly.io)
DATABASE_URL=postgres://postgres:PASSWORD@que-morfamos-db.flycast:5432
COLLECTION_NAME=reviews_embeddings

# Redis y otros
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
DISCORD_WEBHOOK_URL=
THEIPAPI_KEY=
